body {
  /*background-color: rgba(206, 178, 22, 0.778);*/
}
video-container {
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center;     /* Centers vertically */
  height: 100vh;           /* Or a specific height for the container */
}

video {
  display: block; /* Ensures it's a block-level element */
  margin: auto;   /* Centers horizontally */
}

.video-background video {
  position: fixed; /* Positions the video relative to the viewport */
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover; /* Ensures the video covers the entire area while maintaining aspect ratio */
  z-index: -1; /* Places the video behind other elements */
}


h1 {
  text-transform: uppercase;
  font-size: 3rem;
}
h2 {
  text-transform: uppercase;
  font-size: 2rem;
}
h3 {
  text-transform: uppercase;
  font-size: 1rem;
}

.poster {
  width: 50%;
  margin-left: 25%;
  margin-top: 100px;
  color: #110dcf;
  font-family: "Libre Baskerville", serif;
  text-align: center;
}

.motivation-img {
  border: 15px solid rgb(142, 107, 37);
  width: 100%;
}




